<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cauculadora</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main>
        
        <div id="calc" class="calc dflex">
        
            <div id="calc_principal" class="calc_principal dflex">
                <div id="div_nome" class="div_nome dflex">
                    <p>Cauculadora <br>Pedro Lucas Freitas Sousa</p>
                </div>
                <div id="div_display" class="div_display dflex">
                    <p id="display" class="display">0</p>
                </div>
                <div id="div_teclas" class="div_teclas dflex">
                    <button id="tcpy" class="tecla teclaOp">Copy</button>
                    <button id="tlimpar" class="tecla dflex">Clean</button>
                    <button id="t(" class="tecla num">(</button>
                    <button id="t)" class="tecla num">)</button>
                    <button id="t7" class="tecla dflex num">7</button>
                    <button id="t8" class="tecla dflex num">8</button>
                    <button id="t9" class="tecla dflex num">9</button>
                    <button id="t+" class="tecla dflex teclaOp op">+</button>
                    <button id="t4" class="tecla dflex num">4</button>
                    <button id="t5" class="tecla dflex num">5</button>
                    <button id="t6" class="tecla dflex num">6</button>
                    <button id="t-" class="tecla dflex teclaOp op">-</button>
                    <button id="t1" class="tecla dflex num">1</button>
                    <button id="t2" class="tecla dflex num">2</button>
                    <button id="t3" class="tecla dflex num">3</button>
                    <button id="tx" class="tecla dflex teclaOp op">x</button>
                    <button id="t0" class="tecla dflex num">0</button>
                    <button id="tseparador" class="tecla dflex num">,</button>
                    <button id="tigual" class="tecla dflex teclaOp res">=</button>
                    <button id="t/" class="tecla dflex teclaOp op">/</button>
                </div>
            </div>
            
        </div>
        <div id="calc_aba" class="calc_aba dflex">
           <img src="../img/calc.png" alt="">
        </div>
        
    </main>
    <script src="../js/script.js"></script>
</body>
</html>